.left1_redGhost,.left2_redGhost,.right1_redGhost,.right2_redGhost,
.up1_redGhost,.up1_redGhost, .down1_redGhost,.down2_redGhost,
.left1_blueGhost,.left2_blueGhost,.right1_blueGhost,.right2_blueGhost,
.up1_blueGhost,.up1_blueGhost, .down1_blueGhost,.down2_blueGhost,
.left1_pinkGhost,.left2_pinkGhost,.right1_pinkGhost,.right2_pinkGhost,
.up1_pinkGhost,.up1_pinkGhost, .down1_pinkGhost,.down2_pinkGhost,
.left1_orangeGhost,.left2_orangeGhost,.right1_redGhost,.right2_redGhost,
.up1_orangeGhost,.up1_orangeGhost, .down1_orangeGhost,.down2_orangeGhost,
.freezed_Ghost1,.freezed_Ghost2,
.eyes_left,.eyes_right,.eyes_up,.eyes_down
{
    background-image: url("../assets/images/spritesheet.png");
    
    width: 16px; 
    height: 16px; 
    
    position: absolute;
}

.freezed_Ghost2{
    background-position: -357px -64px; 
}

.freezed_Ghost1{
    background-position: -373px -64px; 
}

.eyes_left,.eyes_right,.eyes_up,.eyes_down
{
    width: 12px; 
    height: 7px;
}

.eyes_left{
    background-position: -374px -83px; 
}
.eyes_right{
    background-position: -360px -83px; 

    top: 8px;
    left: 10px;
}
.eyes_up{
    background-position: -391px -81px; 
}
.eyes_down{
    background-position: -397px -81px; 
}


/* Red Ghost */
.left1_redGhost{
    background-position: -261px -64px; 
    
    top: 85px; /*137-85*/
	left: 105px; /*2*/
}
.left2_redGhost{
    background-position: -277px -64px; 
}
.right1_redGhost{
    background-position: -229px -64px; 
}
.right2_redGhost{
    background-position: -245px -64px; 
}
.up1_redGhost{
    background-position: -293px -64px; 
}
.up2_redGhost{
    background-position: -309px -64px; 
}
.down1_redGhost{
    background-position: -325px -64px; 
}
.down2_redGhost{
    background-position: -341px -64px; 
}


/* Blue Ghost */
.left1_blueGhost{
    background-position: -261px -96px; 
}
.left2_blueGhost{
    background-position: -277px -96px; 
}
.right1_blueGhost{
    background-position: -229px -96px; 
}
.right2_blueGhost{
    background-position: -245px -96px; 
}
.up1_blueGhost{
    background-position: -293px -96px; 
    
    top: 112.5px;
	left: 89px;
}
.up2_blueGhost{
    background-position: -309px -96px; 
}
.down1_blueGhost{
    background-position: -325px -96px; 
}
.down2_blueGhost{
    background-position: -341px -96px; 
}

/* Pink Ghost */
.left1_pinkGhost{
    background-position: -261px -80px; 
}
.left2_pinkGhost{
    background-position: -277px -80px; 
}
.right1_pinkGhost{
    background-position: -229px -80px; 
}
.right2_pinkGhost{
    background-position: -245px -80px; 
}
.up1_pinkGhost{
    background-position: -293px -80px; 
}
.up2_pinkGhost{
    background-position: -309px -80px; 
}
.down1_pinkGhost{
    background-position: -325px -80px; 
   
    top: 112.5px;
	left: 104px;
}
.down2_pinkGhost{
    background-position: -341px -80px; 
}



/* Orange Ghost*/
.left1_orangeGhost{
    background-position: -261px -112px; 
}
.left2_orangeGhost{
    background-position: -277px -112px; 
}
.right1_orangeGhost{
    background-position: -229px -112px; 
}
.right2_orangeGhost{
    background-position: -245px -112px; 
}
.up1_orangeGhost{
    background-position: -293px -112px; 

    top: 112.5px;
	left: 119px;
}
.up2_orangeGhost{
    background-position: -309px -112px; 
}
.down1_orangeGhost{
    background-position: -325px -112px; 
}
.down2_orangeGhost{
    background-position: -341px -112px; 
}