
.life1, .life2, .life3{
    background-image: url("../assets/images/spritesheet.png");
    background-position: -246px -16px; 
    
    width: 14px; 
    height: 15px;
}

.life1{
    top: 252px;
	left: 6px;
    position: absolute;
}

.life2{
    top: 252px;
	left: 20px;
    position: absolute;
}

.life3{
    top: 252px;
	left: 34px;
    position: absolute;
    
    visibility: visible;
    /* visibility: hidden; */
}

.cherry{
    background-image: url("../assets/images/spritesheet.png");
    background-position: -278px -49px; 
    width: 14px; 
    height: 14px; 

    
    
    position: absolute;
    top: 252px;
	left: 200px;
}
