.hidden {
    display: none;
  }
  
 div.grid {
   
    position: absolute;
    display: grid;
    grid-template-columns: repeat(28, 1fr);/* 224 / 8 = 28  squares width */
    grid-template-rows: repeat(31, 1fr);/* 248 / 8 = 31 squares height */
    grid-gap: 0;
    

    /* visibility: hidden; */
    /* display: none; */
}

.grid-cells  {
        width: 7px;
        height: 7px;
        border: solid red;
        border-width: 0px 0px 1px 1px;  
}


/* Version 1, Style of the grid  */
div.grid-cells:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.347);
}
  
div.grid-cells:nth-child(even) {
    background-color: transparent;
}

/* The above style version 1 has priority over the below grid style version 2, 
    so, when the above one is uncomment,
    the below one will not be shown even if it is uncomment, too.
    
    Test both by commeting the above one andat the same time to uncommet the below one.
*/

/* Version 2, Style of the grid, connected to the code in 'maze.js' */
.boundary {
    background-color: rgb(153, 22, 22);
  }
  
.allowed {
    background-color: rgba(29, 216, 29, 0.435);
    background-color: transparent;
}

.fruits{
    background-color: rgba(236, 216, 65, 0.495);
}

.ghost_nest{
    background-color: transparent;
    background-color: rgba(202, 57, 57, 0.495);
}

.tunnel{
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.328);
}