:root{
    --black:#000;
    --white: #ffffff;
}
  
 /* https://www.geeksforgeeks.org/how-to-include-a-font-ttf-using-css/ */
@font-face {
    font-family: pacmanFont;
    src: url(../assets/emulogic/emulogic.ttf);
}

html,body{
    background-color: black; 
    margin: 0;
}

.game-container{
    background-color: var(--black);
    /* background-color: rgb(9, 144, 9);  */

    /* later, we center the maze with %: */
    width: 624px;/* 200 |224| 200 */
    height: 748px;
    margin: 0 auto;

    border: 10px solid yellow;
 
    position: relative;/* because of later implementation of the score labels and points */
    overflow: auto;  
}


.maze{
    /* 
    The template:
        background-image: url('path/to/spritesheet.png');
        background-position: -xpx -ypx;
        width: object-width;
        height: object-height;
    */
    background-image: url("../assets/images/spritesheet.png");  /*url("../assets/images/spritesheet0.png");*/
    /*
        To avoid the background image from repeating itself, set the background-repeat property to no-repeat.
    */
    background-repeat: no-repeat;

    /*
        Length values are pretty simple: the first value is the horizontal position, 
        second value is the vertical position. 
        
        So, for example, 100px 5px will move the image 
        100 pixels to the right and 5 pixels down.

        background-position: top right;
    */
    /*
        In the case of background-position: -1px 0;, 
        the negative value -1px shifts the background image 1 pixel to the left along the X-axis. 
        This means that the background image starts 1 pixel to the left of the element's left edge.

        By using background-position: -1px 0;, we are effectively excluding
        the first column of the background image,
        as it starts 1 pixel to the left of the element's box.

        Whereas, background-position: 0 0; starts the background image from the leftmost position, 
        including the first column.

        The width of the element remains the same at 224px. 
        The -1px adjustment is purely related to 
        the positioning of the background image within the element, a
        nd it doesn't affect the overall width of the element or the image itself.

        So, once again,
        by setting background-position: -1px 0;, 
        the image will be shifted to the left by 1 pixel, 
        excluding the first column and starting the maze extraction from column 1.
    */
    background-position: -1px 0px; 
    
    /*  background-position: -1px -248px; */ /* starting point, position of the desired sprite in the sprite sheet */
    /* 
        for the maze of image: spritesheet0.png 
        background-position: 0px -248px;
        background-position: 0px 0px;  or this which extracts the portion of image to be displayed 
    */
    /*
        References: https://www.tutorialrepublic.com/css-tutorial/css-sprites.php 
        
        The background-position property in CSS is used to specify the starting position of a background image within an element. It takes two values: the first value represents the horizontal position, and the second value represents the vertical position.
        In the case of the sprite sheet you provided, the first grid with the points is located at the top-left corner of the sprite sheet. This means that the starting position of the background image should be (0px, 0px), which is the top-left corner of the element containing the background image.
        Therefore, when you use the background-position: 0px 0px; property, you are telling the browser to position the top-left corner of the background image at the top-left corner of the element. This will ensure that the first sprite in the first row and first column of the grid is displayed in the element.
        Note that the background-position property can take other values as well, such as negative values to shift the background image left or up, or percentage values to position the background image relative to the size of the element. However, in this case, since the first grid with the points is located at the top-left corner of the sprite sheet, (0px, 0px) is the appropriate value to use.
    */
  
    /* Box Model Settings: width, height, padding, margin */
        width: 224px;
        height: 248px;    
        /*
        The dimensions of the spritesheet image can be determined 
        by looking at the coordinates of the bottom-right pixel in the image. 
        If the bottom-right pixel of the image has a coordinate of (224, 247), 
        then the width of the image is 224+1 pixels 
        and the height of the image is 247+1 pixels.
        The explanation for adding + 1,
        the height and width of an image should be counted starting from 1, not 0.
        */
        position: relative; 
        /* which is not relative to parent, instead it is positioned at the top left corner  */
    
        /* "zoom in" the elements within this container */
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)  scale(2.0);  /* Adjust the scale value as needed */
        transform-origin: center;
        /* 
            Having the width of the game-container - width:624px;,
            and the original width of the maze - width:224px; 
            (not the scaled size of the maze which is twice of the original)
            we have 200px at left, we center the maze 224px, and we have 200pixels at right.
        */
}

/* From the spritesheet */
.dot-pellet{
    position: absolute;
    background-image: url("../assets/images/spritesheet.png"); 
    background-position: -225px -241px; /* includes a single black pixel column on the left but otherwise, it is not possible to be positioned in the center within the cell*/
    background-repeat: no-repeat;
    /* we will extract and some black pixels with the pellets in order to center visually the pellets*/
    width: 8px;
    height: 8px;
    /* if we display the red grid */
    z-index: -1; 
}

.gazer-pellet{
    position: absolute;
    background-image: url("../assets/images/spritesheet.png"); 
    background-position: -233px -240px; 
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
}







/* From individual images */
.pellet{
    background-image: url("../assets/images/pellet.png"); 
    width: 8px;
    height: 8px;
    z-index: 1; 
}

.power_pellet{
    background-image: url("../assets/images/gazer.png"); 
    width: 8px;
    height: 8px;
    z-index: 1; 
}