.pacman0,.pacman, .pacman2,
.dead1_pacman,.dead2_pacman,.dead3_pacman,.dead4_pacman,
.dead5_pacman,.dead6_pacman,.dead7_pacman,.dead8_pacman,
.dead9_pacman,.dead10_pacman,.dead11_pacman{
    background-image: url("../assets/images/game/spritesheet.png");
    z-index: 2;
}

/* a PacMan figure for testing which is just a yellow circle with the same dimensions as one maze cell 8x8 */
.pacman_test{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: yellow;
    z-index: 2;
}

/* Initial PacMan figure which is full like a circle */
.pacman0{
    background-position: -261px 0px; 
    width: 15px;
    height: 15px;
    z-index: 3;


    /*width: 16px;*/ /* coord. (x,y), we look at x! 
                    start-left pos. within the figure: (489,7) i.e. 489, 
                    end-right pos. within the figure: 501 
                    which is: 501,500,499,498,497,496,495,494,493,492,491,490,489 = 13pos. + 1 or 14 px width
                    
                    or we calculate the outside pixels of the figure,
                    in our case, 502-488 = 14px + 1px
                */
    /*height: 16px;*/ /* coord. (x,y), we look at y! 
                    start-top pos. within the figure: (495,1) i.e. 1
                    end-down pos. within the figure: 13 
                    which is:13,12,11,10,9,8,7,6,5,4,3,2,1 = 13pos. + 1 or 14 px width
                    
                    or we calculate the outside pixels of the figure,
                    in our case, 14-0 = 14px + 1px
                */
}

/* PacMan with half-open mounth */
.pacman{
    background-position: -245px 0px; 

    width: 15px;
    height: 15px; 

    z-index: 2;
}

/* PacMan with the most open mounth */
.pacman2{
    background-position: -229px 0px;
    
    width: 15px;
    height: 15px; 

    z-index: 2;
}


/* Dead PacMan figures' stages */
.dead0_pacman{
    background-position: -277px 0px; 

    width: 15px;
    height: 15px; 
    
}

.dead1_pacman{
    background-position: -293px 0px; 

    width: 15px;
    height: 15px; 
}

.dead2_pacman{
    background-position: -309px 0px; 

    width: 15px;
    height: 15px; 
}

.dead3_pacman{
    background-position: -325px 0px; 

    width: 15px;
    height: 15px; 
}

.dead4_pacman{
    background-position: -341px 0px; 

    width: 15px;
    height: 15px; 
}

.dead5_pacman{
    background-position: -357px 0px; 

    width: 15px;
    height: 15px; 
}

.dead6_pacman{
    background-position: -373px 0px; 

    width: 15px;
    height: 15px; 
}

.dead7_pacman{
    background-position: -389px 0px; 

    width: 15px;
    height: 15px; 
}

.dead8_pacman{
    background-position: -405px 0px; 

    width: 15px;
    height: 15px; 
}

.dead9_pacman{
    background-position: -421px 0px; 

    width: 15px;
    height: 15px; 
}

.dead10_pacman{
    background-position: -437px -3px; 

    width: 15px;
    height: 15px; 
}


